.carousel{
    position            : relative;
    max-width           : 100%;
    -moz-user-select    : none;
    -khtml-user-select  : none;
    -webkit-user-select : none;
    -o-user-select      : none;
    user-select         : none;
}
.carousel .carousel-clip{
    overflow : hidden;
    height   : 100%;
}
.carousel .carousel-wrap{
    overflow  : hidden;
    margin    : 0;
    padding   : 0;
    min-width : 100%;
}
.carousel .carousel-wrap>*{
    float : left;
}
.carousel .carousel-btn{
}
.carousel .carousel-btn.prev{
}
.carousel .carousel-btn.next{
}